<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <!-- Main Content -->
    <div class="container">
        <h1>Welcome to the Homepage</h1>
        <ul>
            <li><a href="{% url 'check_firebase_and_send_email' %}">Run Security Checks</a></li>
            <li><a href="{% url 'check_date' %}">Check Server Date</a></li>
            <li><a href="{% url 'get_todays_data' %}">Get Today's Data</a></li>
            <li><a href="{% url 'app_usage_monitoring' %}">Get App Usage Monitoring Time</a></li>
        </ul>
    </div>
</body>
</html>
